html{
	background: url(http://selab.hanyang.ac.kr/courses/cse326/2015/problems/images/3/blueTextureBG.jpg); 
}

header{
	background-color: #8E8E8E;
	color: white;
	padding: 5px;
}

body{
	background-color: white;
	border: dashed white 10px;
	margin-left: 15%;
	margin-right: 15%;
}

article{
	overflow: hidden;
}

aside{
	float : right;
	margin: 10px;
	border:solid #1D2475 4px;
	border-radius: 15px;
	color: black;
	background-color: #3366CC;
	padding: 10px;
	width: 150px;
}

section{
	background-color: #6277C3;
	color: #FFFFFF;
	padding:5px;
	margin-top: 10px;
	border: solid #1D2475 4px;
	border-radius: 15px;
	overflow: hidden;
}

div section div{
	overflow: hidden;
	float: left;
	background-color: white;
	color: black;
	text-align: center;
	border:none;
	margin: 5px;
}

h1{
	text-align: center;
	color: white;
}

h2{
	text-align: center;
	border-bottom: dotted white 3px;
}

span{
	font-weight: bold;
}

body * * *:hover:not(section) {
	background-color: #ffff00;
}
